# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
backend/venv/
.venv/

# Environment variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# Angular / Node
node_modules/
dist/
.angular/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
